

@font-face{
	font-family: font1;
	src:url(fonts/slavic1.ttf);
}

html, body{
	margin: 0;
	padding: 0;
	background-color: black;
}
body{
	background-image:url(images/sVBasilica.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}
h1{
	margin:20px;
}
p{padding:0;margin:20px;font-size:18px;}

#wrap{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	/* border: 2px solid black; */
	/* padding-top: 50px; */
}

header{
	/* margin-top:50px; */
	margin-bottom:0;
	text-align: center;
	/* border: 2px solid black; */
}

header img{
	width:100%
}
	

nav{
	background-color: #d2a157;
	text-align: center;
	padding:12px 0;
	margin:50px auto;
	top:0;
	position:sticky;
}

nav a{
	color: #871616;
	padding: 12px 30px;
	text-decoration:none;
	font-family:font1;
	font-size:30px;
}

nav a:hover{
	color: #aa0000;
	background-color: #a88247;
}

nav li{
	display: inline;
}

nav ul{
	margin:0;
	padding:0;
}

.altTheme {
	padding:0 15%;
	color:#d2a157;
	background-color: #871616;
	text-align:center;
}

.img1 {
	margin:50px;
	width: 30%;
	float: right;
}

.img2 {
	margin:50px;
	width: 30%;
	float: left;
}

section{
	margin-top:0;
	padding-top:0;
	background-color: #d2a157;
	overflow:auto;
}

section li{
	display: inline;
	color: #871616;
	padding: 12px 30px;
	text-decoration:none;
	font-family:font1;
	font-size:60px;
}

footer{
	background-color: #871616;
	text-align: center;
}

.button{
	background-color: #871616;
	color: #d2a157;
	text-decoration:none;
	margin: 10px 0;
	padding: 10px 0;
	display: inline-block;
	border-radius: 8px;
}